* *:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1b1a1b !important;
  color: white !important;
  font-family: sans-serif;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../../../public/assets/fonts/Montserrat-Regular.ttf") format(".ttf");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../../../public/assets/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Oleo Script Regular";
  src: url("../../../public/assets/fonts/OleoScript-Regular.ttf");
}
@font-face {
  font-family: "Oleo Script Bold";
  src: url("../../../public/assets/fonts/OleoScript-Bold.ttf");
}
.color-primary {
  color: #fd9d0b;
}

/* For text */
.font-base-light {
  font-family: "Montserrat Light";
}

.font-base-regular {
  font-family: "Montserrat Regular";
}

.font-second-regular {
  font-family: "Oleo Script Regular";
}

.font-second-bold {
  font-family: "Oleo Script Bold";
}

.fs-7 {
  font-size: 0.8rem;
}

/* For background */
.bg-cover {
  background-size: cover;
}

.background-primary {
  background-color: #fd9d0b !important;
}

.bg-darker {
  background-color: rgba(27, 26, 27, 0.8) !important;
  -webkit-backdrop-filter: blur(10px) !important;
          backdrop-filter: blur(10px) !important;
}

.dvh-100 {
  height: 100dvh;
}

.z-index-10 {
  position: relative;
  z-index: 10;
}

.z-1000 {
  z-index: 1000;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.w-1 {
  grid-column: span 1;
}

.w-2 {
  grid-column: span 2;
}

.w-3 {
  grid-column: span 3;
}

.h-1 {
  grid-row: span 1;
}

.h-2 {
  grid-row: span 2;
}

.h-3 {
  grid-row: span 3;
}

.radius-2 {
  border-radius: 2rem !important;
}

.top-5 {
  top: 10% !important;
}

.top-3 {
  top: 1rem !important;
}

.bottom-1 {
  bottom: 1rem;
}

.right-1 {
  right: 1rem;
}

/* z-index */
.z-2 {
  z-index: 2;
}

.z-full {
  z-index: 1000;
}

.cursor-pointer {
  cursor: pointer !important;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.border-base {
  border-color: #fd9d0b !important;
}

.mt-10 {
  margin-top: 6.5rem;
}

.mw-50 {
  min-width: 50% !important;
}

.mw-50 {
  max-width: 50% !important;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.bg-center {
  background-position: center;
}

.wrapper {
  background-image: url("../../public/assets/images/index/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgb(27, 26, 27), rgba(27, 26, 27, 0.85));
  z-index: 2;
}
.wrapper .bar {
  height: 20vh;
  width: 3px;
  background-color: azure;
  border-radius: 10px;
}
.wrapper .social-icon {
  font-size: 1rem;
  color: #fff;
}
.wrapper .social-icon:hover {
  color: #fd9d0b;
}
.wrapper .hero-cta {
  background-color: #fd9d0b !important;
  border-radius: 2rem;
}

.feature {
  background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}
.feature h4 {
  letter-spacing: 1.5px;
}

.mask {
  background-color: rgba(27, 26, 27, 0.9);
  z-index: 10;
}

.features > i {
  color: #fd9d0b;
  font-size: 3rem;
}

.features > h4 {
  font-size: 1.2rem;
}

.features > p {
  text-align: center;
  font-size: 0.9rem;
}

.shopping-cart:link,
.shopping-cart:visited {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.55);
}

.shopping-cart:hover {
  color: #ddd;
}

#items-count {
  position: absolute;
  right: -10px;
  top: 0;
  background-color: red;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 3px;
}

.dark-version {
  background-color: rgba(21, 19, 17, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

#sections > section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
  height: 600px;
}

input {
  display: none;
}

#sections > label {
  display: inline-block;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

input:checked + label {
  color: white;
  border-top: 2px solid #fd9d0b;
}

#tab1:checked ~ #sections #content1,
#tab2:checked ~ #sections #content2,
#tab3:checked ~ #sections #content3,
#tab4:checked ~ #sections #content4,
#tab5:checked ~ #sections #content5,
#tab6:checked ~ #sections #content6 {
  display: block;
}

.for-our-menu {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

#sections {
  grid-area: 2/1/7/7;
}

.inner {
  overflow: hidden;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .first-section {
    display: block;
  }
  #gallery {
    display: none;
  }
  label {
    font-size: 12px;
    padding: 3px;
  }
  .for-our-menu > input + label {
    color: white;
    border-top: 2px solid white;
  }
  .modal img {
    width: 100%;
    height: 30vh;
    -o-object-fit: cover;
       object-fit: cover;
  }
  input:checked + label {
    color: white;
    border-top: 4px solid #fd9d0b;
  }
  label:before {
    margin: 0;
    font-size: 18px;
  }
}
.owl-nav {
  background-color: aqua !important;
}

.owl-prev,
.owl-next {
  font-size: 1.5rem !important;
  padding: 10px !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.owl-prev {
  left: -1.5rem;
}

.owl-next {
  right: -1.5rem;
}

.sidebar .nav-item:hover {
  border: 1px solid #ffc107;
}

.sidebar .nav-item:hover a {
  color: #fff !important;
}

.category-card {
  min-height: 70px;
  aspect-ratio: 16/9;
  background-position: center;
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(17, 17, 17, 0.9), rgba(17, 17, 17, 0));
  z-index: 1;
}

#btn-back-to-top {
  height: 60px;
  width: 60px;
  padding: 10px;
  margin: 0;
  background-color: rgba(26, 27, 26, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  font-size: 1.5rem;
  text-align: center;
  animation: pulse infinite 1.5s;
}

@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(164, 158, 158, 0.2);
  }
  to {
    box-shadow: 0 0 0 20px rgba(164, 158, 158, 0);
  }
}
.h-sm {
  height: 300px;
}

@media screen and (max-width: 768px) {
  .h-md {
    height: 300px !important;
  }
}
@media screen and (min-width: 768px) {
  .w-md-50 {
    width: 50% !important;
  }
}
.h-15 {
  height: 10rem !important;
}

@media screen and (min-width: 768px) {
  .h-md-5 {
    height: 5rem !important;
  }
}/*# sourceMappingURL=style.css.map */