* *:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111111 !important;
  color: white !important;
  font-family: sans-serif;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../../../public/assets/fonts/Montserrat-Regular.ttf") format(".ttf");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../../../public/assets/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Oleo Script Regular";
  src: url("../../../public/assets/fonts/OleoScript-Regular.ttf");
}
@font-face {
  font-family: "Oleo Script Bold";
  src: url("../../../public/assets/fonts/OleoScript-Bold.ttf");
}
.color-primary {
  color: #fd9d0b;
}

/* For text */
.font-base-light {
  font-family: "Montserrat Light";
}

.font-base-regular {
  font-family: "Montserrat Regular";
}

.font-second-regular {
  font-family: "Oleo Script Regular";
}

.font-second-bold {
  font-family: "Oleo Script Bold";
}

/* For background */
.bg-cover {
  background-size: cover;
}

.background-primary {
  background-color: #fd9d0b !important;
}

.dvh-100 {
  height: 100dvh;
}

.z-index-10 {
  position: relative;
  z-index: 10;
}

.grid {
  display: grid;
  gap: 1rem;
}

.grid-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.w-2 {
  grid-column: span 2;
}

.radius-2 {
  border-radius: 2rem !important;
}

.top-5 {
  top: 10% !important;
}

.top-3 {
  top: 1rem !important;
}

/* z-index */
.z-2 {
  z-index: 2;
}

.wrapper {
  background-image: url("../../public/assets/images/index/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}
.wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, rgb(17, 17, 17), rgba(17, 17, 17, 0.9));
  z-index: 2;
}
.wrapper .bar {
  height: 20vh;
  width: 3px;
  background-color: azure;
  border-radius: 10px;
}
.wrapper .social-icon {
  font-size: 1rem;
  color: #fff;
}
.wrapper .social-icon:hover {
  color: #fd9d0b;
}
.wrapper .hero-cta {
  background-color: #fd9d0b;
  border-radius: 2rem;
}

.shopping-cart:link,
.shopping-cart:visited {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.55);
}

.shopping-cart:hover {
  color: #ddd;
}

#items-count {
  position: absolute;
  right: -10px;
  top: 0;
  background-color: red;
  z-index: 3;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 3px;
}

.dark-version {
  background-color: rgba(21, 19, 17, 0.8);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
  height: 600px;
}

input {
  display: none;
}

label {
  display: inline-block;
  padding: 15px 25px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

input:checked + label {
  color: white;
  border-top: 2px solid #fd9d0b;
}

#tab1:checked ~ #sections #content1,
#tab2:checked ~ #sections #content2,
#tab3:checked ~ #sections #content3,
#tab4:checked ~ #sections #content4,
#tab5:checked ~ #sections #content5,
#tab6:checked ~ #sections #content6 {
  display: block;
}

.for-our-menu {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
}

#sections {
  grid-area: 2/1/7/7;
}

.inner {
  overflow: hidden;
  padding: 0 20px;
}

.sidebar .nav-item:hover {
  border: 1px solid #ffc107;
}

.sidebar .nav-item:hover a {
  color: #fff !important;
}

.category-card {
  min-height: 70px;
  aspect-ratio: 16/9;
}

.category-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, rgba(17, 17, 17, 0.8), rgba(17, 17, 17, 0));
  z-index: 1;
}/*# sourceMappingURL=style.css.map */