.owl-nav {
  background-color: aqua !important;
}
.owl-prev,
.owl-next {
  font-size: 1.5rem !important;
  padding-inline: 0.5rem !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.owl-prev {
  left: -1.5rem;
}
.owl-next {
  right: -1.5rem;
}
