@font-face {
  font-family: "Montserrat Regular";
  src: url("../../assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat Light";
  src: url("../../assets/fonts/Montserrat-Light.ttf");
}
@font-face {
  font-family: "Oleo Script Regular";
  src: url("../../assets/fonts/OleoScript-Regular.ttf");
}
@font-face {
  font-family: "Oleo Script Bold";
  src: url("../../assets/fonts/OleoScript-Bold.ttf");
}
