@use "../base/variables";
.color-primary {
  color: #fd9d0b;
}

/* For text */
.font-base-light {
  font-family: variables.$base-font-light;
}
.font-base-regular {
  font-family: variables.$base-font-regular;
}
.font-second-regular {
  font-family: variables.$second-font-regular;
}
.font-second-bold {
  font-family: variables.$second-font-bold;
}
.fs-7 {
  font-size: 0.8rem;
}

/* For background */
.bg-cover {
  background-size: cover;
}
.background-primary {
  background-color: #fd9d0b !important;
}
.bg-darker {
  background-color: rgba($color: #1b1a1b, $alpha: 0.8) !important;
  backdrop-filter: blur(10px) !important;
}

.dvh-100 {
  height: 100dvh;
}
.z-index-10 {
  position: relative;
  z-index: 10;
}
.z-1000 {
  z-index: 1000;
}
.grid {
  display: grid;
  gap: 1rem;
}
.grid-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}
.w-1 {
  grid-column: span 1;
}
.w-2 {
  grid-column: span 2;
}
.w-3 {
  grid-column: span 3;
}
.h-1 {
  grid-row: span 1;
}
.h-2 {
  grid-row: span 2;
}
.h-3 {
  grid-row: span 3;
}

.radius-2 {
  border-radius: 2rem !important;
}
.top-5 {
  top: 10% !important;
}
.top-3 {
  top: 1rem !important;
}
.bottom-1 {
  bottom: 1rem;
}
.right-1 {
  right: 1rem;
}
/* z-index */
.z-2 {
  z-index: 2;
}
.z-full {
  z-index: 1000;
}

.cursor-pointer {
  cursor: pointer !important;
}

.object-cover {
  object-fit: cover;
}

.border-base {
  border-color: #fd9d0b !important;
}

.mt-10 {
  margin-top: 6.5rem;
}

.mw-50 {
  min-width: 50% !important;
}
.mw-50 {
  max-width: 50% !important;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}
.bg-center {
  background-position: center;
}
.vh-50{
  max-height: 50vh;
}